venv/
.venv/
env/
ENV/

.env
.env.*

__pycache__/
*.py[cod]
*$py.class

*.sass-cache/
.sass-cache/
**/.sass-cache/

*.log
*.tmp
*.temp
*.swp

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

build/
dist/
*.egg-info/
.eggs/

.DS_Store
Thumbs.db

*.bak
*~